/* палитра
основной цвет текста #757575;
заголовки #212121;
белый #FFFFFF;
акцент #2196F3;
 */
/* основной цвет фона FFFFFF
 вторичный цвет фона серый #F5F4FA
 темный #2F303A */
/* css var */
:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --acсent-text-color: #2196f3;
  --white-text-color: #ffffff;
  --contact-text-color: rgba(255, 255, 255, 0.6);
  --primary-background-color: #2196f3;
  --acсent-background-color: #188ce8;
  --secondary-background-color: #f5f4fa;
  --section-background-color: #2f303a;
  --border-color: #EEEEEE;
}

body {
  background-color: FFFFFF;
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.logo {
  color: #2196f3;
  font-family: Raleway, arial;
  font-size: 26px;
  line-height: 1.19;
}
.page-header .logo-part {
  color: black;
}

.page-footer .logo-part {
  color: #ffffff;
}
.list {
  list-style: none;
}
a {
  text-decoration: none;
}
address {
  font-style: normal;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid tomato; */
}
h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.visually-hidden{
    position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title{
  color: var(--title-text-color);
}

/* ------section color------- */
/* .page-header{background-color: yellow;}
.hero{background-color: coral;}
.feature-list{background-color: darkgoldenrod;}
.work-list{background-color: darkorchid;} */

/* header */
.page-header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.contact-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}
/* .site-nav .item:last-child{
     margin-right: 0;
 } */

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link.current {
  color: var(--acсent-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--acсent-text-color);
}
.contact-nav .link {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--acсent-text-color);
}
.contact-nav {
  display: flex;
  margin-left: auto;
}

/* hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--section-background-color);
}
.hero-title {
  margin-bottom: 30px;
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* section общее*/
.section-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* feature */

.feature-list {
  display: flex;  
  /* justify-content: space-between; */  
}
.feature-item{
    width: calc((100%-90px)/4);
    margin-right: 30px;
}
.feature-item:nth-child(4n) {
  margin-right: 0;
}
.feature-list .title{
   margin-bottom: 10px;
   font-size: 14px;
   line-height: 1.14;
   text-transform: uppercase;
}

/* Examples */
.work-section {
  padding-top: 0;
}
.work-list {
  display: flex;
  /* justify-content: space-between; */
}
.work-item{
    margin-right: 30px;
}
.work-item:last-child {
  margin-right: 0;
}


/* team */
.team-section {
  background-color: var(--secondary-background-color);
}
.team-list .title {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.19; 
}
.team-list {
  display: flex;
  /* justify-content: space-between; */
}
.team-item{
    margin-right: 30px;
}
.team-item:last-child {
  margin-right: 0;
}
.team-box{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

/* footer */
.adress {
  color: var(--white-text-color);
}
.mail-tel {
  color: var(--contact-text-color);
}
.adress:hover,
.adress:focus,
.mail-tel:hover,
.mail-tel:focus {
  color: var(--acсent-text-color);
}
.page-footer {
  background-color: var(--section-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-link {
  margin-bottom: 20px;
}
.footer-logo{
    display: block;
    margin-bottom: 20px;
}
.adress-item{
    margin-bottom: 8px;
}
.adress-item:last-child {
  margin-bottom: 0;
}
/* portfolio */
.examples-title {
    margin-bottom: 4px;
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.examples-text {
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.87;
}
.filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}
.filter-item{
    margin-right: 8px;
}
.filter-item:last-child {
  margin-right: 0;
}
.examples-list {
  display: flex;
  flex-wrap: wrap;
}
.examples-item {
  width: 370px;
  /* width: calc((100% - 60px) / 3); */
  margin-right: 30px;
  margin-bottom: 30px;
}
.examples-item:nth-child(3n) {
  margin-right: 0;
}
.examples-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.examples-box{
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    padding: 20px 24px;  
}

/* button */
.button {
  border-radius: 4px;
  color: var(--title-text-color);
  font-family: inherit;
  cursor: pointer;
  border: none;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
}
/* переопределяет и/или добавляет стили для button */
.button.primary {
  min-width: 200px;
  min-height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  color: var(--white-text-color);
  background-color: var(--primary-background-color);
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.button.primary:hover,
.button.primary:focus {
  background-color: var(--acсent-background-color);
}
.button.secondary {
  padding: 6px 22px;
  background-color: var(--secondary-background-color);
  line-height: 1.63;
  letter-spacing: 0.03em;
}
.button.secondary:hover,
.button.secondary:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-text-color);
  background-color: var(--primary-background-color);
}
